/* src/LandingPage.css */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
 
  .landing-container {
    /* text-align: center; */
    padding: 50px 100px;
    background: #FCFAF6;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 100vw;
    height: 86.5vh;
  }
  
  .welcome-message h1 {
    font-family: "Outfit", sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: #ff4a94;
  }
  
  .welcome-message h2 {
    font-size: 4em;
    margin: 20px 0;
    width: 40vw;
    color: #555;
  }

  .welcome-message p {
    color: #A8A8A8;
  }

  .welcome-span {    
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
  }
  
  .buttons-container {
    margin-top: 90px;
  }
  
  .button {
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 1em;
    color: #fff;
    transition: background 0.3s ease;
  }
  
  .button.login {
    background-color: #ff4a94;
    margin-right: 10px;
  }
  
  .button.signup {
    /* background-color: #6c75ff; */
    color: black;
  }
  
  .button:hover {
    opacity: 0.9;
  }